.movieGallery {
  padding: 25px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 25px;

  background-color: #eee7a9;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.item:hover {
  transform: scale(1.03);
  cursor: pointer;
}
