.movieWraper {
  display: flex;
}

.imgBox {
  max-width: 300px;
}

.descriptionBox {
  padding: 25px;
}

.linkBox {
  padding: 10px;
}

.link {
  display: inline-block;
  margin-right: 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #2a363b;
}

.activeLink {
  composes: link;
  color: #2196f3;
}
